#!/usr/bin/env bash

# binPackages hash: {{ .binPackages | toJson | sha256sum }}
echo "Installing bin packages"

source $HOME/.profile

bin update -y
{{ range .binPackages -}}
if ! grep -qF {{. | quote}} ~/.config/bin/config.json; then
  bin install {{. | quote}}
fi
bin ensure
{{ end -}}

# vim: set syntax=bash:
