#!/usr/bin/env bash

{{ $keys := (dict "id" "e175caff-ed8b-42bd-b793-b31a00baaef9" "alter" "58682746-8a1a-4eda-b387-b31a00baccf8") }}
{{ $root := . }}
{{ range $name, $id := $keys }}
  {{ $file := (printf "%s_ed25519.pub" $name) }}
  {{ $path := (joinPath $root.chezmoi.homeDir ".ssh" $file) }}
  # $path needed => {{ not ($path | lstat) }}
  echo "Downloading {{ $file }}"
  mise x -- rbw get {{ $id }} > "{{ $path }}"
  chmod 600 "{{ $path }}"
{{ end }}

# vim: set syntax=bash:
