#!/usr/bin/env fish

echo "Running configure-shell.fish"

if ! test -f $HOME/.config/fish/functions/fisher.fish
  set fisher_install (mktemp -d)
  curl -sL https://git.io/fisher -o "$fisher_install/fisher.fish"
  source $fisher_install/fisher.fish
  fisher update
else
  echo "Fisher already installed"
end

set fish_location (which fish)
if [ "$SHELL" != "$fish_location" ]
  echo "Changing default shell to $fish_location"
  chsh -s $fish_location
else
  echo "Shell already configured as $fish_location"
end

chezmoi completion fish --output=~/.config/fish/completions/chezmoi.fish

if ! test -f $HOME/.ssh/id_{{.ssh.types.id}}
  echo "Generating id_{{.ssh.types.id}}"
  ssh-keygen -t {{.ssh.types.id}} -f $HOME/.ssh/id_{{.ssh.types.id}} -N ''
else
  echo "id_{{.ssh.types.id}} already generated"
end

if ! test -f $HOME/.ssh/git_{{.ssh.types.git}}
  echo "Generating git_{{.ssh.types.git}}"
  ssh-keygen -t {{.ssh.types.git}} -f $HOME/.ssh/git_{{.ssh.types.git}} -N '' -C "git.$(whoami)@$(hostname)"

else
  echo "git_{{.ssh.types.git}} already generated"
end

if ! test -f $HOME/.ssh/altergit_{{.ssh.types.git}}
  echo "Generating altergit_{{.ssh.types.git}}"
  ssh-keygen -t {{.ssh.types.git}} -f $HOME/.ssh/altergit_{{.ssh.types.git}} -N '' -C "altergit.$(whoami)@$(hostname)"
else
  echo "altergit_{{.ssh.types.git}} already generated"
end

