#!/usr/bin/env bash

set -eo pipefail

echo "Installing pre-requisite packages"

# Distros
{{ if eq .chezmoi.osRelease.idLike "arch" -}}
{{ template "setup/arch.sh.tmpl" . }}
{{ end -}}

{{ if eq .chezmoi.osRelease.idLike "ubuntu debian" -}}
{{ template "setup/ubuntu.sh.tmpl" . }}
{{ end -}}

# Machines
{{ if eq .chezmoi.hostname "tsukuyomi" -}}
echo "Installing packages for Machine: tsukuyomi"
#yay -Syu --noconfirm chaotic-aur/auto-cpufreq chaotic-aur/vscodium

#sudo systemctl disable power-profiles-daemon
#sudo systemctl mask power-profiles-daemon

#sudo systemctl enable --now auto-cpufreq
{{ end -}}
