#!/usr/bin/env bash
echo "Installing binaries via bin: {{ values .githubPackages | join " " }}"

if ! test -x {{ .chezmoi.homeDir }}/.local/bin/bin; then
  set binFile "/tmp/bin-$(random)"
  curl -sL https://github.com/marcosnils/bin/releases/download/v0.17.0/bin_0.17.0_{{.chezmoi.os | title}}_x86_64 > $binFile
  chmod +x $binFile
  $binFile install github.com/marcosnils/bin
fi
{{ range $name, $repo := .githubPackages }}
  {{ $repoName := list "github.com" $repo | join "/" }}
  if bin list | grep -q {{ $repoName }}; then
    echo "{{ $repoName }} is already installed - skipping"
  else
    echo "Installing {{ $repoName }} as {{ $name }}"
    bin install -f {{ $repoName }} ~/.local/bin/{{ $name }}
  fi
{{ end }}

# vim: set syntax=bash:
