#!/usr/bin/env fish
echo "Installing binaries via bin: {{ .githubPackages | join " " }}"
if not test -x {{ .chezmoi.homeDir }}/.local/bin/bin
  set binFile "/tmp/bin-$(random)"
  curl -sL https://github.com/marcosnils/bin/releases/download/v0.17.0/bin_0.17.0_{{.chezmoi.os | title}}_x86_64 > $binFile
  chmod +x $binFile
  $binFile install github.com/marcosnils/bin
end
{{ range .githubPackages }}
{{ $repoName := list "github.com" . | join "/" }}
if bin list | grep -q {{ $repoName }}
  echo "{{ $repoName }} is already installed - skipping"
else
  bin install {{ $repoName }}
end
{{ end }}
