#!/usr/bin/env bash
set -eo pipefail

echo "Installing pre-requisite packages"

# Distros
{{ if or (has (get .chezmoi.osRelease "idLike") .distros.arch) (has (get .chezmoi.osRelease "id") .distros.arch) -}}
{{ template "setup/arch.sh.tmpl" . }}
{{ else if or (has (get .chezmoi.osRelease "idLike") .distros.ubuntu) (has (get .chezmoi.osRelease "id") .distros.ubuntu) -}}
{{ template "setup/ubuntu.sh.tmpl" . }}
{{ else if or (has (get .chezmoi.osRelease "idLike") .distros.fedora) (has (get .chezmoi.osRelease "id") .distros.fedora) -}}
{{ template "setup/fedora.sh.tmpl" . }}
{{ end -}}

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path -y

# vim: set syntax=bash:
