#!/usr/bin/env bash

if ! type mise > /dev/null; then
  curl https://mise.run | sh
fi

echo "Installing mise plugins and tools"

mise self-update --no-plugins

# .config/mise/config.local.toml hash: {{ include "dot_config/mise/conf.d/tools.toml" | sha256sum }}
mise plugins uninstall -ap
mise upgrade
mise prune

# vim: set syntax=bash:
