#!/usr/bin/env bash

if mise which rbw &>/dev/null; then
	if ! test -f ~/.config/rbw/config.json; then
		mise x -- rbw config set email "{{ .bitwarden.email }}"
		mise x -- rbw login
	fi
	mise x -- rbw unlock
fi

# vim: set syntax=bash:
