#!/usr/bin/env fish

echo "Installing rtx plugins and tools"

{{ range $tool, $version := .tools }}
mise plugin install {{ $tool }} -y || true
if [ "{{ $version }}" != "" ]
  mise install {{ $tool }}@{{ $version }}
  mise global {{ $tool }}@{{ $version }}
end
{{ end }}
