#!/usr/bin/env fish

cargo install --locked cargo-binstall
cargo binstall {{ .rustPackages }}
cargo install gitrel

rtx plugin install neovim
rtx install neovim@stable
rtx global neovim@stable

gitrel install {{ .gitrelPackages }} 
