#!/usr/bin/env bash

echo "Linking Firefox default config"

if [ -d "/usr/lib/firefox" ]; then
    firefoxInstallHome="/usr/lib/firefox"
elif [ -d "/usr/lib64/firefox" ]; then
    firefoxInstallHome="/usr/lib64/firefox"
fi

userConfigBase="{{.chezmoi.homeDir }}/.config/firefox"

for file in $(find "$userConfigBase/defaults" -type f -name '*.js'); do
    normalisedFile=$(echo $file | sed "s!$userConfigBase!!")
    baseDir=$(dirname $normalisedFile)
    sudo mkdir -p "$firefoxInstallHome/$baseDir"
    sudo ln -sf "$file" "$firefoxInstallHome/$normalisedFile"
done

sudo ln -s "$userConfigBase/firefox.cfg" "$firefoxInstallHome/firefox.cfg"