{{ $signingkey := promptString "git signing key" -}}
{{ $altername := promptString "git alter name" -}}
{{ $alterhost := promptString "git alter host" -}}

progress = true

[data.git]
signingkey = "{{ $signingkey }}"

[data.git.alter]
name = "{{ $altername }}"
host = "{{ $alterhost }}"

[git]
autoPush = true
