progress = true

[data.bitwarden]
email = '{{ promptString "bitwarden email" }}'

{{ if ne .chezmoi.os "windows" -}}
[edit]
command = "nvim"
args = ["--cmd", "cd {{ .chezmoi.sourceDir }}"]
{{- end }}
