# Git Hosts
{{ range $host := .gitHosts -}}
{{ $hostname := .name -}}
{{ if not (eq (get . "hostname") "") -}}
  {{ $hostname = .hostname -}}
{{ end -}}
Host {{ .name }}
  User git
  {{ if not (eq (get . "port") "") -}}
  Port {{ .port }}
  {{ end -}}
  Hostname {{ $hostname }}
  {{ if not (eq (get . "identity") "") -}}
  IdentityFile ~/.ssh/{{ .identity }}_ed25519.pub
  IdentitiesOnly yes
  {{ end }}
{{ end }}

Host *.lan
  User root
  Hostname %h.brazier.cloud

# SSH Hosts
{{- range $host, $user := .ssh.lanUsers }}
Host {{ $host }}.lan
  User {{ $user }}
{{ end }}
