# IdentityFile ~/.ssh/id_ed25519.pub
# IdentitiesOnly yes

# Git Hosts
{{ range $host := .gitHosts -}}
{{ $identity := "id" -}}
{{ $hostname := .name -}}
{{ if not (eq (get . "hostname") "") -}}
  {{ $hostname = .hostname -}}
{{ end -}}
{{ if not (eq (get . "identity") "") }}
  {{- $identity = .identity -}}
{{ end }}
Host {{ .name }}
  User git
  {{ if not (eq (get . "port") "") -}}
  Port {{ .port }}
  {{ end -}}
  Hostname {{ $hostname }}
  IdentityFile ~/.ssh/{{ $identity }}_ed25519.pub
  IdentitiesOnly yes
{{ end }}

# SSH Hosts
{{- $suffix := .ssh.aliasSuffix }}
{{- range .ssh.aliases }}
{{ if not (eq (get . "name") "") -}}}
Host {{ .name }}
{{ else -}}
Host {{ .host }}
{{- end }}
  User {{ .user }}
  {{ if eq (get . "internal") "false" -}}
  Hostname {{ .host }}
  {{ else -}}
  Hostname {{ .host }}.{{ $suffix }}
  {{ end -}}
  {{ if not (eq (get . "port") "") -}}
  Port {{ .port }}
  {{ end -}}
  IdentityFile ~/.ssh/id_ed25519.pub
  IdentitiesOnly yes
{{ end }}
