IdentityFile ~/.ssh/id_{{ .ssh.types.id }}
IdentitiesOnly yes

{{ $sshkey := .ssh.types -}}
{{- range $host := .gitHosts }}
Host {{ .name }}
  {{ if not (eq (get . "port") "") -}}
  Port {{ .port }}
  {{ end -}}
  IdentityFile ~/.ssh/git_{{ $sshkey.git }}
  IdentitiesOnly yes
{{ end }}

{{- if not (eq .git.alter.name "") }}
Host alter.github.com
  Hostname github.com
  IdentityFile ~/.ssh/altergit_{{ $sshkey.git }}
  IdentitiesOnly yes
{{ end }}

{{- $suffix := .ssh.aliasSuffix }}
{{- range .ssh.aliases }}
{{ if not (eq (get . "name") "") -}}}
Host {{ .name }}
{{ else -}}
Host {{ .host }}
{{- end }}
  User {{ .user }}
  {{ if eq (get . "internal") "false" -}}
  Hostname {{ .host }}
  {{ else -}}
  Hostname {{ .host }}.{{ $suffix }}
  {{ end -}}
  {{ if not (eq (get . "port") "") -}}
  Port {{ .port }}
  {{ end -}}
  IdentityFile ~/.ssh/id_{{ $sshkey.id }}
  IdentitiesOnly yes
{{ end }}
