[user]
name = {{ .git.name }}
email = git@{{ .git.host }}

[pull]
	rebase = true

[push]
	default = current

[core]
	autocrlf = input

[init]
  defaultBranch = main

[includeIf "gitdir/i:~/code/codeberg.org/"]
  path = ~/.config/git/config.codeberg

[includeIf "gitdir/i:~/code/github.com/"]
  path = ~/.config/git/config.github

[includeIf "gitdir/i:~/code/git.sr.h/"]
  path = ~/.config/git/config.srht

{{ if not (eq .git.alter.name "") }}
[includeIf "gitdir/i:~/code/alter.github.com/"]
  path = ~/.config/git/config.alter.github
{{ end }}

[include]
  path = ~/.config/git/config.local
