[user]
name = {{ .git.name }}
email = git@{{ .git.host }}

[pull]
	rebase = true

[push]
	default = current

[core]
	autocrlf = input

[includeIf "gitdir/i:~/code/codeberg.org/"]
  path = ~/.config/git/config.codeberg

[includeIf "gitdir/i:~/code/git.sr.ht/"]
  path = ~/.config/git/config.srht

[includeIf "gitdir/i:~/code/github.com/"]
  path = ~/.config/git/config.github

{{ if not (eq .git.alter.name "") }}
[includeIf "gitdir/i:~/code/alter.github.com/"]
  path = ~/.config/git/config.alter.github
{{ end }}
