[user]
	name = Rob Brazier
	email = git@brzr.co
{{ if not (eq .git.signingkey "") -}}
	signingkey = {{ .git.signingkey }}
{{ end -}}

[pull]
	rebase = true

[push]
	default = current

[core]
	autocrlf = input
