echo "Installing packages for Arch"
sudo pacman -Syu

install_packages() {
    sudo pacman --needed -Syu --noconfirm $@
}

# GUI applications
install_packages firefox 

# System Utilities
install_packages {{ .packages | join " " }} btop the_silver_searcher udisks2

if [ -x "$(command -v yay)" ]; then
    get_yay_packages() {
        packages=""
        for package in $@; do
            if ! (yay -Qq "$package" &> /dev/null); then
                packages+="$package "
            fi
        done
        echo $packages
    }
    packages="$(get_yay_packages visual-studio-code-bin)"
    yay -Syu $packages
fi
