echo "Installing packages for Arch"
sudo pacman -Syu

echo "Installing Chaotic AUR"
sudo pacman-key --recv-key FBA220DFC880C036 --keyserver keyserver.ubuntu.com
sudo pacman-key --lsign-key FBA220DFC880C036
sudo pacman --needed -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst' 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst'

if grep -q chaotic-mirrorlist /etc/pacman.conf; then
    echo "chaotic-mirrorlist already added to /etc/pacman.conf"
else
    echo "
[chaotic-aur]
Include = /etc/pacman.d/chaotic-mirrorlist
" | sudo tee -a /etc/pacman.conf
fi

install_packages() {
    sudo pacman --needed -Syu --noconfirm $@
}

# GUI applications
install_packages firefox visual-studio-code-bin

# System Utilities
install_packages btop git curl direnv the_silver_searcher ripgrep fd helix udisks2 jq topgrade

if [ -x "$(command -v yay)" ]; then
    yay -Syu nerd-fonts-complete
fi