echo "Installing packages for Fedora"

install_packages() {
    sudo dnf -y install $@
}

if [ -x "$(command -v code)" ]; then
    echo "VS Code already installed. Skipping"
else
    sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
    sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo'
fi

sudo dnf update -y

# System Utilities
install_packages {{ .packages }} btop the_silver_searcher util-linux-user perl-File-Compare openssl-devel gcc g++

# GUI applications
install_packages firefox code
