echo "Installing packages for Fedora"

install_packages() {
    sudo dnf -y install $@
}

sudo dnf update -y

# System Utilities
install_packages {{ .packages | join " " }} btop util-linux-user perl-File-Compare openssl-devel gcc g++

# GUI applications
install_packages firefox

# vim: set syntax=bash:
