echo "Installing packages for Fedora"

install_packages() {
    sudo dnf -y install $@
}

if [ -x "$(command -v code)" ]; then
    echo "VS Code already installed. Skipping"
else
    sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
    sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo'
fi

sudo dnf update -y

# System Utilities
install_packages {{ .packages }} btop the_silver_searcher 

# Topgrade
if [ -f /usr/local/bin/topgrade ]; then
    echo "Topgrade already installed. Skipping"
else
    echo "Installing Topgrade"
    topgrade=$(github_download "topgrade-rs/topgrade" "-x86_64-unknown-linux-gnu.tar.gz" "tgz")
    chmod +x $topgrade/topgrade
    sudo mv $topgrade/topgrade /usr/local/bin
fi

# GUI applications
install_packages firefox code

# Nerd Fonts
nerdFontsLatestVersion=$(curl -s https://api.github.com/repos/ryanoasis/nerd-fonts/releases | jq .[0].id)
if [ ! -f $HOME/.local/share/fonts/.version ] || [ "$(cat $HOME/.local/share/fonts/.version)" -ne "$nerdFontsLatestVersion" ]; then
    tmpDir=$(mktemp -d)
    rm -rf $tmpDir
    git clone https://github.com/ryanoasis/nerd-fonts.git --depth 1 $tmpDir
    (cd $tmpDir && bash $tmpDir/install.sh)
    echo "$nerdFontsLatestVersion" > $HOME/.local/share/fonts/.version
else
    echo "Nerd Fonts already up-to-date. Skipping"
fi
