echo "Installing packages for Ubuntu"

sudo apt update

install_packages() {
    sudo apt install -y $@
}

# Add fish PPA
if [ "$(apt-cache policy | grep -c fish-shell)" -eq "0" ]; then
    echo "Installing fish PPA"
    sudo apt-add-repository -y ppa:fish-shell/release-3
    sudo apt update
fi

# Add neovim PPA
if [ "$(apt-cache policy | grep -c neovim-ppa)" -eq "0" ]; then
    echo "Installing neovim PPA"
    sudo apt-add-repository -y ppa:neovim-ppa/unstable
    sudo apt update
fi

# System Utilities
install_packages {{ .packages }} build-essential apt-transport-https silversearcher-ag

# Add firefox PPA
if [ "$(apt-cache policy | grep -c mozillateam)" -eq "0" ]; then
    echo "Installing firefox PPA"
    sudo apt-add-repository -y ppa:mozillateam/ppa
    sudo apt update
fi

# GUI applications
install_packages firefox

# Install packages outside Package Managers

# Topgrade
if [ -x "$(command -v topgrade)" ]; then
    echo "Topgrade already installed. Skipping"
else
    echo "Installing Topgrade"
    topgrade=$(github_download "r-darwish/topgrade" "-x86_64-unknown-linux-gnu.tar.gz" "tgz")
    chmod +x $topgrade/topgrade
    sudo mv $topgrade/topgrade /usr/local/bin
fi

# btop
if [ -x "$(command -v btop)" ]; then
    echo "btop already installed. Skipping"
else
    echo "Installing btop"
    btop=$(github_download "aristocratos/btop" "-x86_64-linux-musl.tbz" "tbz")
    (cd $btop; bash $btop/install.sh)
fi

# VS Code
if [ -x "$(command -v code)" ]; then
    echo "VS Code already installed. Skipping"
else
    tempDir=$(mktemp -d)
    curl -o vscode.deb -L 'https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64'
    install_packages ./vscode.deb
fi

# Nerd Fonts
nerdFontsLatestVersion=$(curl -s https://api.github.com/repos/ryanoasis/nerd-fonts/releases | jq .[0].id)
if [ ! -f $HOME/.local/share/fonts/.version ] || [ "$(cat $HOME/.local/share/fonts/.version)" -ne "$nerdFontsLatestVersion" ]; then
    tmpDir=$(mktemp -d)
    rm -rf $tmpDir
    git clone https://github.com/ryanoasis/nerd-fonts.git --depth 1 $tmpDir
    (cd $tmpDir && bash $tmpDir/install.sh)
    echo "$nerdFontsLatestVersion" > $HOME/.local/share/fonts/.version
else
    echo "Nerd Fonts already up-to-date. Skipping"
fi
