{{ include ".chezmoitemplates/firefox/betterfox/Fastfox.js" }}
{{ include ".chezmoitemplates/firefox/betterfox/Securefox.js" }}
{{ include ".chezmoitemplates/firefox/betterfox/Peskyfox.js" }}
{{ include ".chezmoitemplates/firefox/betterfox-overrides.user.js" }}
{{ template "firefox/ff-ultima.user.js.tmpl" }}
